


*{

  margin:0;
   padding:0;
   font-size: 1.2rem;
   
}
html {
  scroll-behavior: smooth;
}

.AboutUs{
  width: 100%;
  margin:auto;
  background: linear-gradient(to top, white 0%, white 50%, #7c9494 50%, #7c9494 100%);
   background-size:cover;
   padding: 5%;;
   position: relative;
   min-height: 100vh;
	background-repeat:no-repeat;
}
  .info1{
  
    /* background:blue; */
    box-sizing: border-box;
    padding: 22px;
    font-size: 1.2rem;
    line-height: 1.4;
    /* background-color: white; */
    text-align: justify;
    width: 90%;
  
  
  }
  
  .info1 p{
    font-size: 1.2rem;
    text-align: justify;
    justify-content: flex-start;
  font-family: 'Vollkorn', serif;
  }

  #sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: #ababab;
    z-index: 3;
    transition:0.5s ;
  }
  nav ul li{
    list-style: none;
    margin: 50px 20px;
  }
  nav ul li a{
  text-decoration: none;
  color: white;  
  }
  #menu-Btn{
    width: 80px;
    height: 30px;
    background:#ababab ;
    position: fixed;
    right: 30px;
    top: 0px;
    border-radius: 3px;
    z-index: 99;
    cursor: pointer;
  
  }
  
  #menu-Btn{
  
    width: 20px;
    margin-top:5px ;
  }
  @media(max-width: 820px) and (min-width:325px){
  
    nav ul li a{
      text-decoration: none;
      color: white; 
      font-size:1rem ;
      }
      #sideNav{
        width: 150px;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        background: #ababab;
        z-index: 3;
        transition:0.5s ;
      }
      nav ul li{
        list-style: none;
        margin: 15% 20px;
      }
  }
  

  
  @media  (max-width:768px ) and  (min-width: 326px){
  
    .AboutUs h1{
    font-size: 2.5rem;
    text-align: center;
    
    font-family: 'Niconne', cursive;
    padding-bottom: 5px;
    position:relative;
    margin-bottom: 20%;
   
  }
  .AboutUs h1::before{
    content: '';
    position: absolute;
    bottom: -8px;
    width: 35%;
  margin: 0 auto;
  height: 4px;
  background: #3b9bc3;
  }
    .infor{
  margin-top: 10%;
      display: flex;
      display: inline-block;
      flex-direction: column;
      height: 72vh;
    }
  
    .info1{
  flex: 100%;
  
      /* background:rgb(255, 255, 255); */
      box-sizing: border-box;
      border: 3px solid #333;
      /* padding: 22px; */
      font-size: 1.5rem;
      line-height: 1;
      
     
      /* background-color: white; */
      text-align: justify;
      width: 100%;
      /* height: 100%; */
    
    }
  
    .imagebox{
      background-image: none;
    }
    .provide{
     
      display :none;
    }
  } 
  .Footer{
    width:100%;
    margin-top: 0px;
    color: white;
    /* height: 30vh; */
    background-color: #333;
    /* overflow: hidden; */
    
  
  }
  .footinfor{
  
    display: flex;
    justify-content: space-between;
    padding:20px;
  
  }
  
  .infoUs{
    flex-basis: 23%;
    padding: 3px;
    margin: 0 auto;
  }
  
  
  .infoUs h2{
    padding-bottom: 5px;
    position:relative;
    font-size: 1.7rem;
    margin-bottom: 25px;
    color: white;
  
  }
  .infoUs ul{
    list-style: none;
  
  }
  
  .serv1 ul{
    list-style: none;
  }
  .serv1 ul li{
    padding: 10px 0;
    text-align: center;
    font-size: 22px;
    
  }
  
  .infoUs ul li{
    padding: 10px 0;
  }
  .infoUs ul li a{
    color: #fff;
    text-decoration: none;
    opacity: 0.5;
    
    transition: 0.5s;
  }
  .infoUs ul li a i{
    color: #fff;
    text-decoration: none;
    opacity: 0.5;
    padding: 1%;
    transition: 0.5s;
  }
  .infoUs ul li a:hover{
    color: white;
    
    opacity: 1;
  }
  .infoUs h2::before{
  content: '';
  position:absolute;
  bottom: -8px;
  width: 80px;
  height: 4px;
  background: #748c8c;
  }
  
  
  .infoUs a{
  /*   padding: 3px; */
    /* margin: 0 auto; */
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
  }
  .copyright{
    width: 100%;
    background-color: #ababab;
    height: 15%;
    text-align: center;
  
  }
  
  /* @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .TestFlex{
      flex:100%;
      max-width: 100%;
    }
  } */
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  /*Responsive for Footer*/
  /*----------------------------------------------*/
  /*-----------------------------dont remove these lines*/
  @media  screen and  (max-width: 770px){
    /* .infoUs{
      margin: 10%;
      display: flex;
      flex-direction: column;
     justify-content: space-between;
    
    
    } */
    .footinfor{
      display: flex;
      flex-direction: column;
      width: 70%;
      display: inline;
      
      overflow: hidden;
    }
    .infoUs h2{
      padding-bottom: 5px;
      
      position:relative;
      font-size: 1.5rem;
      margin-bottom: 25px;
      color: white;
    
    }
    .infoUs a{
      /*   padding: 3px; */
        /* margin: 0 auto; */
        font-size: 1.0rem;
        color: white;
        
        text-decoration: none;
      }
   
  } 